<nav class="navbar navbar-default" role="navigation">
<div class="navbar-header">
  <%= link_to 'Busfest', root_path, class: 'navbar-brand' %>
</div>
<div class="collapse navbar-collapse navbar-ex1-collapse">
  <ul class="nav navbar-nav">
    <li class="active"><%= link_to 'Dashboard', root_path, class: 'active' %></li>
  </ul>
</div>
</nav>
<h1>Hello</h1>
