<html>
<body>
<wicket:panel>
    <div class="panel panel-default">
        <div class="panel-heading">
            Übernachtungen
        </div>
        <div class="panel-body">
            <span wicket:id="overnightCountLabel" class="col-md-4"></span><span wicket:id="overnightCount" class="col-md-8"></span><br>
            <span wicket:id="fellowPassengerCountLabel" class="col-md-4"></span><span wicket:id="fellowPassengerCount" class="col-md-8"></span>
        </div>
    </div>
</wicket:panel>
</body>
</html>
