<html>
<body>
<wicket:panel>
    <div class="panel panel-default">
        <div class="panel-heading">
            Br&ouml;tchen
        </div>
        <div class="panel-body">
            <div>Samstag</div>
            <span wicket:id="p1CountSatLabel" class="col-md-5"></span><span wicket:id="p1CountSat" class="col-md-7"></span><br>
            <span wicket:id="p2CountSatLabel" class="col-md-5"></span><span wicket:id="p2CountSat" class="col-md-7"></span><br>
            <span wicket:id="p3CountSatLabel" class="col-md-5"></span><span wicket:id="p3CountSat" class="col-md-7"></span><br>

            <div>Sonntag</div>
            <span wicket:id="p1CountSunLabel" class="col-md-5"></span><span wicket:id="p1CountSun" class="col-md-7"></span><br>
            <span wicket:id="p2CountSunLabel" class="col-md-5"></span><span wicket:id="p2CountSun" class="col-md-7"></span><br>
            <span wicket:id="p3CountSunLabel" class="col-md-5"></span><span wicket:id="p3CountSun" class="col-md-7"></span><br>
        </div>
    </div>
</wicket:panel>
</body>
</html>
