<html>
<body>
<wicket:panel>
    <form wicket:id="overnightData">
        <div wicket:id="p1CountSatGroup">
            <input type="number" wicket:id="p1CountSat">
        </div>
        <div wicket:id="p2CountSatGroup">
            <input type="number" wicket:id="p2CountSat">
        </div>
        <div wicket:id="p3CountSatGroup">
            <input type="number" wicket:id="p3CountSat">
        </div>

        <div wicket:id="p1CountSunGroup">
            <input type="number" wicket:id="p1CountSun">
        </div>
        <div wicket:id="p2CountSunGroup">
            <input type="number" wicket:id="p2CountSun">
        </div>
        <div wicket:id="p3CountSunGroup">
            <input type="number" wicket:id="p3CountSun">
        </div>
    </form>
</wicket:panel>
</body>
</html>
