<wicket:panel>
    <form class="form-horizontal">
        <div class="control-group">
            <label class="control-label">Broetchen</label>
            <div class="controls">
                <input type="text" class="span1">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Roggenbroetchen</label>
            <div class="controls">
                <input type="text" class="span1">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Brezeln</label>
            <div class="controls">
                <input type="text" class="span1">
            </div>
        </div>
    </form>
</wicket:panel>
