<html>
<body>
<wicket:panel>
    <form wicket:id="visitor">
        <div wicket:id="nameGroup">
            <input type="text" wicket:id="firstName">
            <input type="text" wicket:id="lastName">
        </div>
        <div wicket:id="addressGroup">
            <input type="text" wicket:id="address">
        </div>
        <div wicket:id="cityGroup">
            <input type="text" wicket:id="zipCode">
            <input type="text" wicket:id="city">
        </div>
        <div wicket:id="countryGroup">
            <input type="text" wicket:id="country">
        </div>
        <div wicket:id="dateOfBirthGroup">
            <input type="text" wicket:id="dateOfBirth">
        </div>
    </form>
</wicket:panel>
</body>
</html>